<form action="" enctype="multipart/form-data" method="post" id="form_nuevousuario">

	<label for="nombres">Nombre del Grupo</label>
	<input type="text" name="nombre" placeholder="2do de primaria sección B " id="nombres">
	
	<div class="row">
		<div class="columns large-6">
			<label for="">Rango de Edad</label>
			<div class="row">
				<div class="columns large-5"><input type="date" placeholder="e mínima" name="fecha_nacimiento"></div>
				<div class="columns large-2">-</div>
				<div class="columns large-5"><input type="date" placeholder="e máxima" name="fecha_nacimiento"></div>
			</div>
			
		</div>
		
	</div>
	<div class="row">
		<div class="columns large-6">
			<label for="">Nombre de usuario</label>
			<input type="text" placeholder="usuario" name="usuario">
		</div>
		<div class="columns large-6">
			<label for="">Clave</label>
			<input type="password" placeholder="" name="clave">
		</div>
	</div>
	<div class="button submit">Guardar Grupo</div>
	
</form>