@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?h8qdqd');
	src:url('fonts/icomoon.eot?#iefixh8qdqd') format('embedded-opentype'),
		url('fonts/icomoon.ttf?h8qdqd') format('truetype'),
		url('fonts/icomoon.woff?h8qdqd') format('woff'),
		url('fonts/icomoon.svg?h8qdqd#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*clases generales*/
/* medidas de canvas de juegos: 739*380*/
ul
{ margin:0 !important;
margin-top: 0.5em !important;}
figure
{
	margin: 0 !important;
}
header
{
	background: #222;
	color: #fff;
	font-size: 0.85em;
	position: absolute;
	top:0;
	width: 100%;
	height: 3em;
}
.adm-contenedor_alertas
{
	margin:  1rem  0;
	

}
.panel_inicio
{

}
.panel_inicio-participantes
{
	    max-height: 95px;
    overflow: hidden;
}
.panel_inicio_participante:hover img
{
	    -ms-transform: rotate(360deg); /* IE 9 */
    -webkit-transform: rotate(360deg); /* Chrome, Safari, Opera */
    transform: rotate(360deg);
}
.panel_inicio_participante img
 {
 	 border-radius: 50%;
    

      width: 100%;
      min-height: 3.8em;
        -webkit-transition: all .8s ease .1s;
    -moz-transition: all .8s ease .1s;
    -o-transition: all .8s ease .1s;
    transition: all .8s ease .1s;
 }
.panel_inicio_participante figcaption
{
	font-size: 10px;
	font-style: italic;
	color: #445;
	text-align: center;
}
.panel_inicio_participante
{
	text-align: center;
	margin: 0;
	padding:0;
	display:  inline-block;
	vertical-align: top;
    margin-right: 0.7em !important;
        margin-bottom: 1em !important;
  width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    overflow: hidden;
    
    border: 3px solid #f2c436;
}
.panel_inicio_juegos
{}
.panel_inicio_juegos_item
{
	width: 90%;
	    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
    margin-bottom: 1em;
    padding: 0.3em;
    border-radius: 0.2em;
}
.panel_inicio_juegos_item_imagen img
{
	width: 100%;
}
.panel_inicio_juegos_item_imagen
{
	width: 25%;
	display: inline-block;
	vertical-align: top;
	margin-right: 1%;
}
.panel_inicio_juegos_item_des .fecha_prog
{
	color: #555;
	font-size: 0.8em;
}
.panel_inicio_juegos_item_des .titulo
{
	color: #0777aa;
    font-weight: 600;
}
.panel_inicio_juegos_item_des
{
	width: 68%;
	display: inline-block;
	vertical-align: top;
	margin-right: 1%;

}
.blubird
{
	position: absolute;
width: 11%;
    top: 0.3em;
	left: 2em;
}

.header-menu
{
	font-size: 1em;
    top: 0.7em;
	position: absolute;
    right: 2em;
}
.header-menu a:first-of-type
{
	border-left: none !important;
}


.header-menu-link
{
	    color: #fff;
    margin-right: 1em;
    padding-left: 1em;
    border-left: 1px solid #888;
}

body
{
	font-size: 14px;
	padding: 0 !important;
	margin: 0 !important;
	background: url('../img/fondo_cuadrados.png') repeat !important;
}
.ejecutar_juego-inicio
{
	text-align: center;
	padding: 2em !important;
}
body.juego
{
	background: url('../img/fondo_cuadrados.png') repeat ,url('../img/fondo_arboles.png') right bottom no-repeat !important;
	background-attachment: fixed !important;


}
#sticker
{
	-webkit-transition: all 0.5s ease-out .3s;
    -moz-transition: all .5s ease-out .3s;
    -o-transition: all .5s ease-out .3s;
    transition: all .5s ease-out .3s;
}
#sticker.abierto
{
	margin-top: 2em;
}
#header
{
	z-index: 99;
	
	-webkit-transition: all 0.5s ease-out .3s;
    -moz-transition: all .5s ease-out .3s;
    -o-transition: all .5s ease-out .3s;
    transition: all .5s ease-out .3s;
}
body.juego header
{
	background: #444;
}
#header.abierto
{
	height: 3em !important;
}
.w40p
{
	width: 40% !important ;
}
.h100
{
	height: 100% !important;
}
.w100
{
	width: 100% !important;
}
.div_blanco_rgba
{
	background: rgba(255,255,255,0.5);
}
.txt_gris
{

    text-transform: uppercase;
    font-size: 0.9em;
    color: #999;
}
.txt_thin
{
		font-size: 0.8em;
    margin-left: 1em;
        margin-bottom: 1em !important;
        font-style: italic;

}

/*fin clases generales*/
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-bin:before {
    content: "\e91f";
}
.icon-home3:before {
	content: "\e901";
}
.icon-office:before {
	content: "\e902";
}
.icon-pencil2:before {
	content: "\e903";
}
.icon-blog:before {
	content: "\e900";
}
.icon-image:before {
	content: "\e904";
}
.icon-images:before {
	content: "\e905";
}
.icon-location2:before {
	content: "\e906";
}
.icon-box-add:before {
	content: "\e907";
}
.icon-users:before {
	content: "\e908";
}
.icon-search:before {
	content: "\e909";
}
.icon-zoom-in:before {
	content: "\e90a";
}
.icon-enlarge:before {
	content: "\e90b";
}
.icon-enlarge2:before {
	content: "\e90c";
}
.icon-pie-chart:before {
	content: "\e90d";
}
.icon-stats-dots:before {
	content: "\e90e";
}
.icon-stats-bars:before {
	content: "\e90f";
}
.icon-stats-bars2:before {
	content: "\e910";
}
.icon-smile:before {
	content: "\e911";
}
.icon-smile2:before {
	content: "\e912";
}
.icon-plus:before {
	content: "\e913";
}
.icon-cross:before {
	content: "\e914";
}
.icon-checkmark:before {
	content: "\e915";
}
.icon-arrow-up-left:before {
	content: "\e916";
}
.icon-arrow-up:before {
	content: "\e917";
}
.icon-arrow-up-right:before {
	content: "\e918";
}
.icon-arrow-right:before {
	content: "\e919";
}
.icon-arrow-down-right:before {
	content: "\e91a";
}
.icon-arrow-down:before {
	content: "\e91b";
}
.icon-arrow-down-left:before {
	content: "\e91c";
}
.icon-paragraph-justify:before {
	content: "\e91d";
}
.icon-share2:before {
	content: "\e91e";
}
.icon-arrow-left:before {
    content: "\e925";
}

.item_persona
{

	width: 50%;
	text-align: left;
	border-radius: 3px;
	box-shadow: 0px 0px 14px #ddd;
	padding: 1%;
	margin-bottom: 15px;
}
.item_persona figure
{
	display: inline-block;
	vertical-align: top;
	width:25%;

}
.item_persona figure img
{
	
	width:100%;

}
.item_persona .descripcion
{
	display: inline-block;
	vertical-align: top;
	width:72%
}
.button.xsmall
{
	padding: 0.5em 1.2em !important;
    font-size: 0.7rem !important;
    margin-bottom: 0 !important;
}
.tabla_small
{
	margin-top: 0.5em;
}
.tabla_small tbody tr td
{
	font-size: 0.9em;
	padding: 0.3em;
}.tabla_small thead tr th
{
	font-size: 0.8em;
	padding: 0.3em;
}
.dis_none
{
	display: none !important;
}
.dis_block
{
	display: block !important;
}
.db
{
	display: block !important;
}
.dib
{
	display: inline-block !important;
	vertical-align: top;
}
.dib_med
{
	display: inline-block !important;
	vertical-align: middle;
}
/*mantenimientos*/
.pad
{
	padding: 1% 3%;

}
.p0
{
	padding: 0 !important;
}

.side_menu
{
	width: 25%;

}
.barra_flecha
{
	width: 3%;
	position: relative;
	text-align: left;
	min-height: 500px;
}
.ty_select
{
	background-color: #f3f3f3;
background-image: -webkit-linear-gradient(top,#fefefe,#f3f3f3);
background-image: -moz-linear-gradient(top,#fefefe,#f3f3f3);
border: 1px solid #ccc;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
color: #444;
cursor: pointer;
font: normal 15px Arial;
margin-right: -1px;
min-width: 18px;
padding: 8px 7px;
text-align: center;
text-decoration: none;
text-shadow: 0 1px 0 #f2f2f2;
vertical-align: middle;
white-space: nowrap;
width: 80%;
}
.barra_flecha .linea
{
	border-right: 1px solid #ddd;
	min-height: 500px;
	width: 50%
}
.barra_flecha img
{
	position: absolute;
	width: 50%;
left: 25%;
	top: 3%;
}

.content_menu
{
	width: 70%;
	-webkit-transition: all 500ms ease-out 1s;
    -moz-transition: all 500ms ease-out 1s;
    -o-transition: all 500ms ease-out 1s;
    transition: all 500ms ease-out 1s;
}
.side_menu ul 
{
	margin: 0;
	padding: 0;
	margin-top: 10%;
}
.side_menu ul li 
{
	list-style: none;
	/*background-color: rgba(0,0,0,.2);*/
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px 1px 1px 6px;
	padding: 3% 5%;
	box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}
.side_menu ul li:hover
{
	background-color: rgba(0,0,0,.05);
	cursor: pointer;
}
.input_file
{
	padding: 0 !important;
    margin-bottom: 1em !important;
}
.opcion_mant_selected
{
background-color: rgba(0,0,0,.05);	
}
span.rojo
{
	color: red;
}
.bg_nina
{
	background: salmon;	
	width: 10px;
}
.bg_nino
{

	background: turquoise;
	width: 10px;
}
.w9p
 {
 	width: 9% !important;	
 }
.content_menu_out
{

	/*-webkit-transform: matrix(1,0,0,1,-270,0);
-moz-transform: matrix(1,0,0,1,-270,0);
-ms-transform: matrix(1,0,0,1,-270,0);
-o-transform: matrix(1,0,0,1,-270,0);*/
transform: matrix(1,0,0,1,1000,0);
}

.sideprincipal
{
	background: #0479ae;
	/*padding: 1.5em;*/
	text-align: center;
	/*box-shadow: 1px 1px 25px inset;*/

}
.sideprincipal-logo,.sideprincipal-foto
{
	
	padding: 0;
	margin: 0 auto;
}
.sideprincipal-foto img
{
	    margin-top: 1.5em;
	border-radius: 100%;
	border: 0.8em solid rgba(0,0,0,0.16);
	width: 60%;
}
.sideprincipal-menuinferior
{
	margin-top: 1em;
	text-align: left;
}
.sideprincipal-menuinferior-item
{
	
	font-weight: 400;
	font-size: 1.1em;
	padding: 0.4em 0em;
	border-bottom: 2px dotted #fff;
	list-style: none;
	text-align: left;
}
.sideprincipal-menuinferior-item a
{
	color: #fff;
}
.sideprincipal-menuinferior-item a:hover
{
	color: #f2d136;
}

.sideprincipal-menuinferior li:last-of-type
{
	border-bottom:none !important;
}
.sideprincipal-foto-nombres
{
	/*text-align: left;*/
	font-style: italic;
}
.sideprincipal-foto-nombres .username
{
	/*text-align: left;*/
	color: #ffc000;
	font-size: 1.1em;
}
.sideprincipal-foto-nombres .nombrecompleto
{
/*text-align: left;*/
color:  rgba(0,0,0,0.4);
font-size: 0.9em;
font-weight: 600;
}
.numero
{
	display: inline-block;
	vertical-align: middle;
	border-radius: 50%;
	    padding: 0em 0.5em;
	color: rgba(0,0,0,0.5);
	font-weight: 600;	
}
.naranja
{
	background: #f2c436;
}
.contenedor
{
	padding: 0.5em;
	min-height: 1080px;
}
.contenedor .div_blanco
{
	background: #fff;
	padding: 0.4em;
}
.contenedor h1
{
	font-size: 1.5em;
}
.contenedor h5
{
	font-weight: 600;
}
.contenedor h2
{
	font-size: 1.1em;
	    margin-bottom: 1em;
}
.paneln table
{
	width: 100%;
}
.paneln table thead tr th:first-of-type
{
	    width: 12%;
	    text-align: center;
}
.paneln table tbody tr td:first-of-type
{
	text-align: center;
	/*padding-top: 5%;*/
}


.panel-mensaje-adm.success
{
	background: #43c573;

}
.panel-mensaje-adm
{
	color: #fff;
	padding: 0.5em 1em;
	margin-bottom: 1em;
}
.panel-mensaje-adm span
{
	font-size: 1.4em;
}
span.gris
{
	font-size: 0.8em;
	color: #777;
}
span.negro
{
	font-size: 0.9em;
	color: #063E56;
	text-align: left;
	display: block;
}
.administrador header
{
	/*background-color: #f2f2f2;*/
    /*border-bottom: 1px solid #e5e5e5;*/
    height: 3.5em;
    left: 0;
    right: 0;
    z-index: 99;
    background: #222;
    position: fixed;

}
.administrador-logo
{
	margin: 0;
	padding: 0;
}
.administrador-logo img
{
	width: 70%;
}
.administrador-menuprincipal 
{
	    margin-top: 1em;
}
.administrador-menuprincipal a:hover
{
	color: rgba(255,255,255,0.4);
}
.mr_03
{
	margin-right: 0.3em !important;
}
.administrador-menuprincipal a
{
	/*color: #555;*/
	margin-right: 2.5em;
	font-size: 0.9em;
	font-weight: 600;
	color: #0e818f;

}
.administrador-side-buscador
{
	width: 100% !important;
    
    margin: 0 auto !important;
    margin-top: 1em !important;
}
.administrador-side
{
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
	padding-bottom: 2em;
	position: fixed !important;
    border-right: 1px solid #ccc;
    height: 100% !important;
    padding-top: 1.5em;
}
.administrador-side-datosusuario
{
	    text-align: center;
}
.administrador-side-datosusuario .desc-foto i
{
	font-size: 0.8em;
}
.administrador-side-datosusuario .desc-foto .nombre
{
	    font-weight: 700;
    font-size: 0.9rem;
    line-height: 0.5rem;

}
.administrador-side-datosusuario .desc-foto
{
	display: inline-block;
	vertical-align: middle;
	text-align: left;

	
}
.administrador-side-datosusuario .cont-foto
{
	 width: 70px;
	 height: 70px;
	 margin: 0 1rem 1rem 0;
	 background-size: contain !important;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    /* border: 3px solid rgba(1,146,194,0.5); */
    border: 4px solid #0192c2;
    



}
.administrador-side-item a:hover
{
	color: #333 !important;
	font-weight: 600 !important;
}
.administrador-side-item a
{
	color: #555 !important;
}
.administrador-side-item .texto, .administrador-side-item .icono
{
	display: inline-block;
	vertical-align: middle;
}
.administrador-side-item .texto
{
	margin-left: 0.6em;
}
.vam
{
	vertical-align: middle !important;
}
.administrador-side-item span
{
	font-size: 1.3em;
}
.administrador-panel .breadcrumbs
{
	margin-top: 1em;
	margin-bottom: 0 !important;
}
.administrador-panel
{
	min-height: 750px !important;
	margin-top: .5rem;
	    margin-left: 21rem;

}
.fz9
{
	font-size: 0.8em !important;
}
.administrador-side-item
{
	list-style: none;
    
    color: #555;
    /* font-weight: 600; */
    font-size: 0.9em;
}
.administrador-side-item .sombrear
{
	padding: 0.8em 1.5em;
}
.administrador-side-item .sombrear:hover
{
	background-color: rgba(0,0,0,0.06);

}
.submenu
{
	margin-left: 2.1em;
	height: 0;
	overflow: hidden;
	font-size: 0.9em;
}
.input_required:before
{
	content: 'Requerido';
}
.input_required
{
	border-color:#f00 !important;
}
.submenu.abierto
{
	height: auto;	
}
.submenu-item
{
	padding: 0.5em 1.8em;
	padding: 0.5em 2.4em;
}
.submenu-item:hover
{
	background-color: rgba(0,0,0,0.05);

}
.pr
{
	position: relative !important;
}
.pa
{
	position: absolute !important;
}
.pa.r0
{
	right: 0 !important;
}
.administrador-panel .separador
{
	border-right: 1px solid #ccc;
    height: 600px;
    margin-left: 17px;
    opacity: 1;
    position: absolute;
    top: 25px;
    width: 18px;
    /*background: #fff;*/
    right: 0;
}
.administrador-panel .panel1
{
	position: absolute;
	top:0;
	left: 0;
	width: 90%;
}
.subpanel1 ul li
{
	    list-style: none;
    padding: 0.5em;
    font-size: 0.8em;
    color: #555;
}
.subpanel1 ul li:hover
{
	    background: #f2f2f2;
	    cursor: pointer;
}

.subpanel2,.subpanel1
{
	display: inline-block;
	vertical-align: top;
	 	
}
#fecha_programada
{
	    height: 26.19px;
}
.subpanel1
{
 	width: 30%;
 	position: relative;

}
.administrador label.gris
{
	color: #555 !important;

}
.administrador label
{
	color: #007095 !important;
    font-weight: 600 !important;
}
.subpanel2
{
 	
 	overflow: hidden;
 	width: 69%;

}
.panel_desplazar
{
	width: 200% !important;
}
.paneln.actual
{
	width: 50% !important;
	display: inline-block;
	vertical-align: top;
}
.paneln.nuevo
{
	width: 49%;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	padding: 1.2%;
}
.subpanel2 .panel_desplazar
{-webkit-transition: all 0.5s ease-out .3s;
    -moz-transition: all .5s ease-out .3s;
    -o-transition: all .5s ease-out .3s;
    transition: all .5s ease-out .3s;
}
.panel_desplazar.desplazado
{
	transform: translateX(-52%);
}

.administrador-panel .separador .flecha
{
	    background: url(../img/flecha_adm.png) no-repeat;
    height: 17px;
    left: 10px;
    position: relative;
    top: 13px;
    width: 17px;
}
.nuevo_usuario-contfoto .file_wcss
{
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	z-index: 1;
}
.nuevo_usuario-contfoto figure
{
	z-index: 99;
}
.nuevo_usuario-contfoto:hover
{
	cursor: pointer;
}
#form_nuevousuario
{
	width:100%;
	display: inline-block;
	
	
}
.nuevo_usuario-contfoto
{
	position: relative;
	padding-left: 0 !important;
	display: inline-block;
	vertical-align: top;

}
.nuevo_usuario-contfoto img.imgload
{
	position: absolute;
    top: 35%;
    width: 16%;
    left: 42%;
}
.nuevo_usuario-contfoto figure.load
{
height: 100%;
    position: relative;
}

/*mfin mantenimientos*/
/* Juego recolector*/
.recolector_explicacion
{
    background-color: #f8f8f8;
    padding: 5px;
    border: 1px solid #ccc;		
    font-size: 0.98em !important;
   	height: 300px !important;
    overflow-y: scroll;
}
#recolector_imagen_titulo
{
	margin: 5px;	
}
.nuevo_recolector-botones .button
{
	margin-bottom: 0;
}
.nuevo_recolector-botones
{
	width: 97%;
    margin: 0 auto;
    padding: 0.8em;
    /*background: #444;*/
}
.img_respuesta
{
	height: 100px;
	width: 100px;
	border: solid 5px #A1A5A3;
}
.nuevo_recolector-contenedor_respuestas-item.reciente
{
	 background-color: #437c40;
}
.recolector-prev_img canvas
{
	height: 100% !important;
}
.recolector-prev_img
{
	position: relative;
	 width: 100% !important;
	 height: 100% !important;
	background: #eee;

    background: #eee;*/
}
.recolector_imagen
{
	/*position: absolute; */
  	z-index: -1;
  	top:0;
  	left: 0;
}
.nuevo_recolector-botones .button
{
	margin-bottom: 0;
}
.nuevo_recolector-botones
{
	width: 97%;
    margin: 0 auto;
    padding: 0.8em;
    /*background: #444;*/
}
#recolector-contenedorimg
{
	padding: 1em !important;
}
.recolector-galeria .label
{
	margin-bottom: 1rem !important;
}
.recolector-galeria
{
	margin-top: 0.5rem;
}
.recolector-galeria-todos figure:last-of-type
{
	/*margin-right: 0 !important;*/

}
.recolector-galeria-todos figure:first-of-type
{
	margin-left: 0px !important;
}
.recolector-galeria-todos-item:hover
{
	border-color: #ffcc00;
}

.recolector-galeria-todos-item  article span:hover
{
	cursor: pointer;
	color: #555;
}
.recolector-galeria-todos-item:hover article
{
	 
    height: 100%;
}
.recolector-galeria-todos-item figcaption{
	position: absolute;
	bottom: 0;
}
.recolector-galeria-todos-item .sombra
{
	text-align: center;
	height: 0;
    overflow: hidden;
	position: absolute;
    z-index: 99;
    bottom: 0%;
    background: rgba(255,255,255,0.5);
    width: 100%;
    padding-top: 20%;
    color: #333;
    font-size: 2.5rem;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.recolector-galeria-todos-item
{
	width: 100px;
	height: 100px;
	overflow: hidden;
	padding: 0;
	margin: 10px 10px 10px 0 !important;
	display: inline-block;
	vertical-align: top;
	border: 5px solid #ccc;
	position: relative;
}

.recolector-galeria-todos-item .datosimagen
{
	width: 100px;
	height: 100px;
	overflow: hidden;
	padding: 0;
	margin: 10px 10px 10px 0 !important;
	display: block;
	vertical-align: top;
	border: 5px solid #ccc;
	position: relative;
}
.recolector_imagen_detalles
{
	margin: 5px 5px 5px 0 !important;
}
.recolector-form_imgs
{

	position: relative;
	margin-bottom: 0.5em;
}
.recolector-galeria-todos.reducido
{
	width: 49%;
	border-right: 1px solid #ffcc00;
}
.recolector-galeria-correctos.ampliado
{
	width: 46%;
	padding: 0 1%;
}
.recolector-galeria-todos
{
	width: 100%;
	padding-right: 0.5rem;
}
.recolector-galeria-correctos
{
	width: 0%;
	overflow: hidden;

}
.recolector-galeria-todos,
.recolector-galeria-correctos
{
	display: inline-block;
	vertical-align: top;
	-webkit-transition: all 0.5s ease-out .3s;
    -moz-transition: all .5s ease-out .3s;
    -o-transition: all .5s ease-out .3s;
    transition: all .5s ease-out .3s;
}
.recolector-galeria-itemdes
{
	    background: #f4f4f4 !important;
    font-size: 0.8em !important;
    border: none !important;
    color: #666 !important;
}
.recolector_explicacion
{
    background-color: #f8f8f8;
    padding: 1em;
    border: 1px solid #ccc;		
    font-size: 0.98em !important;
   	height: 200px !important;
    overflow-y: scroll;
}
.recolector_explicacion_imagen
{
    background-color: #f8f8f8;
    padding: 1em;
    border: 1px solid #ccc;		
    font-size: 0.98em !important;
   	height: 100px !important;
    overflow-y: scroll;
    width: 12em;
    position: relative;
    left: 104px;
    bottom: 110px;
    margin-bottom: -100px;
}
.recolector_prev_final.show .content
{
	position: relative;
    top: 40%;
    /* width: 25%; */
    /* left: 40%; */
    font-size: 2em;
    font-weight: 800;
    color: #ffc103;
    text-shadow: 1px 1px 5px rgba;
    	
}
.recolector_prev_final.show
{
	background: rgba(0,0,0,0.8);
	z-index: 99;
	transform: translateY(0px);
}
.recolector_prev_final
{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateY(-500px);
    -webkit-transition: all 0.5s ease-out .3s;
    -moz-transition: all .5s ease-out .3s;
    -o-transition: all .5s ease-out .3s;
    transition: all .5s ease-out .3s;

}
#textocompleto
{
	border: 1px solid #507DAD;
    width: 6em;
    height: 40px;
    position: relative;
    left: 36em;
    background: #90ADC1;
    bottom: 20px;
    font-weight: 900;
    font-size: 22px;
    color: #fff;
}

#texto_expandido
{
	width: 100%;
	height: 0;
	webkit-transition: all 0.5s ease-out .3s;
    -moz-transition: all .5s ease-out .3s;
    -o-transition: all .5s ease-out .3s;
    transition: all .5s ease-out .3s;
    position: absolute;
    z-index: 99;
    overflow: hidden;
    font-size: 20px;
    padding: 0em;

}
#texto_expandido.abierto
{
	background: #D7DAC2;
	padding: 0.5em;
	overflow: hidden;
	overflow-y: scroll;
	color: #464343;
	font-family: cursive;
	text-align: initial;
}
#textocompleto:hover
{
	background: rgb(109, 176, 222);
	cursor:pointer;
}
.guardar
{
	background-color: #007095;
}
#pre_enunciado
{
	position: relative;
    bottom: -1em;
}
#enunciado
{
	color: #F1EE8C;
	font-weight: 800;
	bottom: 10em;
}
.barra_vida
{
	width: 36em;
    position: relative;
    top: 5em;
    left: 11em;
}
.nueva_palabra_imagen
{
	  position: absolute;
  /* border: 2px solid red; */
  /* background: rgba(255,255,255,0.5); */
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  padding: 1.25em 01em 01em 01em;
  border-radius: 0.2em;
  border: 1px solid #bbb;
  color: #444;
  font-weight: 600;
  font-size: 0.8em;
  width: 35em;
}
.nueva_palabra_imagen input
{
	  padding: inherit;
  margin: auto;
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  height: 2.2em;
}
/* Juego invasores*/
.invasores_explicacion
{
    background-color: #f8f8f8;
    padding: 5px;
    border: 1px solid #ccc;		
    font-size: 0.98em !important;
   	height: 300px !important;
    overflow-y: scroll;
}
#invasores_imagen_titulo
{
	margin: 5px;	
}
.nuevo_invasores-botones .button
{
	margin-bottom: 0;
}
.nuevo_invasores-botones
{
	width: 97%;
    margin: 0 auto;
    padding: 0.8em;
    /*background: #444;*/
}
/* fin juego invasores*/
/* Juego Memoria*/
#tablamaqueta
{
	background: #EDF1EF;
    border: solid 5px #A1A5A3;
    margin-bottom: 0.55rem;
    table-layout: auto;
}
#memoria_imagen_titulo
{
	margin: 5px;	
}
.memoria_explicacion
{
    background-color: #f8f8f8;
    padding: 5px;
    border: 1px solid #ccc;		
    font-size: 0.98em !important;
   	height: 400px !important;
    overflow-y: scroll;
}
.memoria_imagen_cargada
{
	position: relative;
    width: 100% !important;
    height: 80% !important;
    background: #eee;
    /*background-color: #f8f8f8;
    padding: 5px;
    border: 1px solid #ccc;		
    font-size: 0.98em !important;
   	height: 400px !important;
    overflow-y: scroll;*/
}
.memoria_maqueta_img
{
	width: 20px;
	height: 20px;
	position: relative;
    /*left: 150px;*/
    display: inline-block;
    /*bottom: 100px;*/
    border: 3px solid #ccc;
    text-align: center;
    font-family:fantasy;
    font-size: 18px;
    /*margin: 3px;*/
}
.memoria-prev_img canvas
{
	height: 100% !important;
}
.memoria-prev_img
{
	position: relative;
	height: 22em;
	width: 22em;
	overflow: hidden;
	border: solid 5px #A1A5A3;
	/* width: 100% !important;
	 height: 25em !important;*/

    /*background: #eee;*/
}
.memoria-ninoayuda_img
{
	position: relative;
    left: 25em;
    height: 22em;
    bottom: 19em;
    width: 10em;
    overflow: hidden;
    margin-bottom: -21em;
}
.nuevo_memoria input,.nuevo_memoria select
{
	    height: 1.8em !important;
	    padding: 0 0 0 4% !important;
}
.nuevo_memoria-contenedor_respuestas-item
{
	-webkit-transition: all 0.5s ease-out .3s;
    -moz-transition: all .5s ease-out .3s;
    -o-transition: all .5s ease-out .3s;
    transition: all .5s ease-out .3s;
        margin-bottom: 0.5em;


}
.nuevo_memoria-contenedor_respuestas-item.reciente
{
	 background-color: #437c40;
}
.nuevo_memoria-botones .button
{
	margin-bottom: 0;
}
.nuevo_memoria-botones
{
	width: 97%;
    margin: 0 auto;
    padding: 0.8em;
    /*background: #444;*/
}
.memoria_imagen
{
	position: absolute;
  	z-index: -1;
  	top:0;
  	left: 0;
}
#nombres_imagenes
{
	width: 35em;
    position: relative;
    left: 2em;
}
.memoria_prev_final
{
	/*position: relative;*/
	right: 0;
	top:0;
	height: 100%;
	width:  20%;
	background: red;	 	
}

.memoria_prev_final_derecha
{
	background: #083D50;
    width: 200px;
    position: absolute;
    z-index: 99;
    right: 0;
    height: 100%;	 	
}
.memoria_prev_final_derecha_elemento
{
	color: #4A4C3A;
    padding-left: 15px;
    text-align: left;
    margin: 5px 15px 7px 15px;
    background: #BBB5B5;
    font-family: cursive;
    font-size: 15px;
    border-radius: 15px;
}
/*.memoria_prev_final.show .content
{
	position: relative;
    top: 40%;
    
    font-size: 2em;
    font-weight: 800;
    color: #ffc103;
    text-shadow: 1px 1px 5px rgba;
    	
}
.memoria_prev_final.show
{
	background: rgba(0,0,0,0.8);
	z-index: 99;
	transform: translateY(0px);
}
.memoria_prev_final
{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateY(-500px);
    -webkit-transition: all 0.5s ease-out .3s;
    -moz-transition: all .5s ease-out .3s;
    -o-transition: all .5s ease-out .3s;
    transition: all .5s ease-out .3s;
*/
}
.puntaje_memoria
{
	
}
/* Fin del juego memoria*/
/*juego snake-gusanito
    
*/
.nuevo_snake input,.nuevo_snake select
{
	    height: 1.8em !important;
	    padding: 0 0 0 4% !important;
}
.nuevo_snake-contenedor_respuestas-item
{
	-webkit-transition: all 0.5s ease-out .3s;
    -moz-transition: all .5s ease-out .3s;
    -o-transition: all .5s ease-out .3s;
    transition: all .5s ease-out .3s;
        margin-bottom: 0.5em;


}
.nuevo_snake-contenedor_respuestas-item.reciente
{
	 background-color: #437c40;
}
.snake-prev_img canvas
{
	height: 100% !important;
}
.snake-prev_img
{
	position: relative;
	 width: 100% !important;
	 height: 100% !important;
	background: #eee;

    background: #eee;*/
}
.snake_imagen
{
	/*position: absolute; */
  	z-index: -1;
  	top:0;
  	left: 0;
}
.nuevo_snake-botones .button
{
	margin-bottom: 0;
}
.nuevo_snake-botones
{
	width: 97%;
    margin: 0 auto;
    padding: 0.8em;
    /*background: #444;*/
}
#snake-contenedorimg
{
	padding: 1em !important;
}
.snake-galeria .label
{
	margin-bottom: 1rem !important;
}
.snake-galeria
{
	margin-top: 0.5rem;
}
.snake-galeria-todos figure:last-of-type
{
	/*margin-right: 0 !important;*/

}
.snake-galeria-todos figure:first-of-type
{
	margin-left: 0px !important;
}
.snake-galeria-todos-item:hover
{
	border-color: #ffcc00;
}

.snake-galeria-todos-item  article span:hover
{
	cursor: pointer;
	color: #555;
}
.snake-galeria-todos-item:hover article
{
	 
    height: 100%;
    



}
.snake-galeria-todos-item figcaption{
	position: absolute;
	bottom: 0;
}
.snake-galeria-todos-item .sombra
{
	text-align: center;
	height: 0;
    overflow: hidden;
	position: absolute;
    z-index: 99;
    bottom: 0%;
    background: rgba(255,255,255,0.5);
    width: 100%;
    padding-top: 20%;
    color: #333;
    font-size: 2.5rem;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.snake-galeria-todos-item
{
	width: 100px;
	height: 100px;
	overflow: hidden;
	padding: 0;
	margin: 10px 10px 10px 0 !important;
	display: inline-block;
	vertical-align: top;
	border: 5px solid #ccc;
	position: relative;
}

.snake-galeria-todos-item .datosimagen
{
	width: 100px;
	height: 100px;
	overflow: hidden;
	padding: 0;
	margin: 10px 10px 10px 0 !important;
	display: block;
	vertical-align: top;
	border: 5px solid #ccc;
	position: relative;
}
.snake_imagen_detalles
{
	margin: 5px 5px 5px 0 !important;
}
.snake-form_imgs
{

	position: relative;
	margin-bottom: 0.5em;
}
.snake-galeria-todos.reducido
{
	width: 49%;
	border-right: 1px solid #ffcc00;
}
.snake-galeria-correctos.ampliado
{
	width: 46%;
	padding: 0 1%;
}
#txtayuda
{
	color: #F1EE8C;
	font-weight: 800;
}
#flecha_img
{
	position: relative;
    bottom: 182px;
    width: 11em;
    height: 30px;
    right: 16em;
}
#guardado_exito
{
	color: rgba(18, 79, 115, 0.88);
    padding-left: 34px;
    font-size: 20px;
    font-family: fantasy;
    margin-bottom: 1px;
}
/*.datosimagen figure
{
	width: 96%;
	padding: 0 1%;
	display: block;
}*/
.snake-galeria-todos
{
	width: 100%;
	padding-right: 0.5rem;
}
.snake-galeria-correctos
{
	width: 0%;
	overflow: hidden;

}
.snake-galeria-todos,
.snake-galeria-correctos
{
	display: inline-block;
	vertical-align: top;
	-webkit-transition: all 0.5s ease-out .3s;
    -moz-transition: all .5s ease-out .3s;
    -o-transition: all .5s ease-out .3s;
    transition: all .5s ease-out .3s;
}
.snake-galeria-itemdes
{
	    background: #f4f4f4 !important;
    font-size: 0.8em !important;
    border: none !important;
    color: #666 !important;
}
.snake_explicacion
{
    background-color: #f8f8f8;
    padding: 1em;
    border: 1px solid #ccc;		
    font-size: 0.98em !important;
   	height: 20em !important;
    overflow-y: scroll;
}
.snake_explicacion_imagen
{
    background-color: #f8f8f8;
    padding: 1em;
    border: 1px solid #ccc;		
    font-size: 0.98em !important;
   	height: 100px !important;
    overflow-y: scroll;
    width: 12em;
    position: relative;
    left: 104px;
    bottom: 110px;
    margin-bottom: -100px;
}
.snake_prev_final.show .content
{
	position: relative;
    top: 40%;
    /* width: 25%; */
    /* left: 40%; */
    font-size: 2em;
    font-weight: 800;
    color: #ffc103;
    text-shadow: 1px 1px 5px rgba;
    	
}
.snake_prev_final.show
{
	background: rgba(0,0,0,0.8);
	z-index: 99;
	transform: translateY(0px);
}
.snake_prev_final
{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateY(-500px);
    -webkit-transition: all 0.5s ease-out .3s;
    -moz-transition: all .5s ease-out .3s;
    -o-transition: all .5s ease-out .3s;
    transition: all .5s ease-out .3s;

}
.guardar
{
	background-color: #007095;
}
.nueva_palabra_imagen
{
	  position: absolute;
  /* border: 2px solid red; */
  /* background: rgba(255,255,255,0.5); */
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  padding: 1.25em 01em 01em 01em;
  border-radius: 0.2em;
  border: 1px solid #bbb;
  color: #444;
  font-weight: 600;
  font-size: 0.8em;
  width: 42em;
}
.nueva_palabra_imagen input
{
	  padding: inherit;
  margin: auto;
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  height: 2.2em;
}

/*juego mapa*/
.nombre_punto
{
	    margin-left: 0.5em;
    color: #777;
    font-weight: 600;
}
.nuevo_mapa input,.nuevo_mapa select
{
	    height: 1.8em !important;
	    padding: 0 0 0 4% !important;
}
.nuevo_mapa-contenedor_respuestas-item
{
	-webkit-transition: all 0.5s ease-out .3s;
    -moz-transition: all .5s ease-out .3s;
    -o-transition: all .5s ease-out .3s;
    transition: all .5s ease-out .3s;
        margin-bottom: 0.5em;


}
.nuevo_mapa-contenedor_respuestas-item.reciente
{
	 background-color: #437c40;
}
.cont-load
{
	position: absolute;
    top: 46.75%;
    left: 46.75%;
    width: 6.5%;
}
.mapa-prev_img canvas
{
	height: 100% !important;
}
.abeja-prev-mensaje-des
{
	display: inline-block;
    vertical-align: middle;
    font-size: 32px;
}
.abeja-prev-mensaje-fig
{
	display: inline-block;
	vertical-align: top;
	vertical-align: middle;
	width: 14%;
}
.abeja-prev-mensaje.opacar
{
	opacity: 0.5;
}
.abeja-prev-mensaje
{
	width: 100%;
	position: absolute;
	top: 20px;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	text-shadow:1px 1px 5px rgba(0,0,0,1);
	z-index: 99;
	-webkit-transition: all 0.7s ease-out .3s;
    -moz-transition: all .7s ease-out .3s;
    -o-transition: all .7s ease-out .3s;
    transition: all .7s ease-out .3s;
    opacity: 1;
}
.abeja-prev_img
{
	position: relative;
	 width: 100% !important;
	 height: 100% !important;
	background: #eee;

}
.mapa-prev_img
{
	position: relative;
	 width: 100% !important;
	 height: 80% !important;
	background: #eee;

    /*background: #eee;*/
}
.mapa_simulacion-cuerpo
{
	position: relative;
}
.mapa_simulacion-cuerpo-pregunta
{
	position: absolute;
	top: 1em;
	left: 2em;
}
.mapa_puntoluz
{
	height: 2em;
	width: 2em;
	border-radius: 50%;
	border: 3px solid #C00;
	position: absolute;
}
.mapa_imagen
{
	position: absolute;
  	z-index: -1;
  	top:0;
  	left: 0;
}
.nuevo_mapa-botones .button
{
	margin-bottom: 0;
}
.nuevo_mapa-botones
{
	width: 97%;
    margin: 0 auto;
    text-align: right;
    padding: 0.8em;
    /*background: #444;*/
}
.nuevo_juego
{
	
	    padding: 5em 2em;
	    width: 100% !important;
}
.nuevo_juego-titulo
{
	    font-size: 2em;
}
.nuevo_juego-subtitulo
{
	font-size: 1.2em;
}
.nuevo_juego-vista_previa
{}
.nuevo_punto
{
	  position: absolute;
  /* border: 2px solid red; */
  /* background: rgba(255,255,255,0.5); */
  background: rgba(255,255,255,1);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );
  padding: 0.25em 01em;
  border-radius: 0.2em;
  border: 1px solid #bbb;
  color: #444;
  font-weight: 600;
  font-size: 0.8em;
}
.nuevo_punto input
{
	  padding: inherit;
  margin: auto;
  width: 50%;
  display: inline-block;
  vertical-align: middle;
  height: 2.2em;
}
.nuevo_punto .button
{
	 height: 2.2em;	 
}
.lbl2
{
	font-size: 1.5em !important;
    font-weight: lighter !important;
    margin: 1rem 0 !important;
}
.lbl.verde
{
	color: #81ab2a;
}
.lbl
{
	
    font-weight: 600;
    font-size: 0.9em;
    margin-top: 0.6em;
}
.boton span
{
	margin-right: 0.2em;

}
.boton
{
	display: inline-block;
	  background-color: #008CBA;
	  margin: 0.2em;
	  color: #fff;
	  padding: 0.6em 1em;
	  border-radius: .4em;
	  box-shadow: inset 0 -.2em rgba(0,0,0,.3);
}
.boton.small
{
	padding: 0.35em 0.8em !important;
    font-size: 0.9em !important;
}
.boton.amarillo
{
	background: #fbcf1f !important;
}
.boton.verde
{
	  background-color: #7dcd40 !important;
}
.boton.rojo
{
	  background-color: #ff4842;
}
#hour
{	
	position: relative;
    display: inline-block;
    font-size: 24px;
	left: 6px;
}
.divideruno
{
	position: relative;
    display: inline-block;
    font-size: 24px;
	left: 6px;
	bottom: 2px;
}
#minute
{
	position: relative;
    display: inline-block;
    font-size: 24px;
	left: 6px;
}
.dividerdos
{
	position: relative;
    display: inline-block;
    font-size: 24px;
	left: 6px;
	bottom: 2px;
}
#second
{
	position: relative;
    display: inline-block;
    font-size: 24px;
	left: 6px;
}
canvas
{
	position: relative;
	background: #eee;
	-webkit-transition: all 0.5s ease-out .3s;
    -moz-transition: all .5s ease-out .3s;
    -o-transition: all .5s ease-out .3s;
    transition: all .5s ease-out .3s;
}
canvas.oscuro
{
	background: #555;

}
.punto_hecho
{
	border-radius: 50%;
    padding: 0.25em 0.6em !important;
    background: #ffbf35;
    color: #bf7502;
    position: absolute;
    font-weight: 800;
    text-shadow: 0px 0px 5px rgba(255,255,255,0.4);
}
.nuevo_mapa-contenedor_respuestas
{
    background-color: #f8f8f8;
    padding: 1em;
    border: 1px solid #ccc;		
    font-size: 0.9em !important;
   	height: 150px !important;
    overflow-y: scroll;
}
.contenedor_gris.cerrado
{
	padding: 0 !important;
	border: none !important;
	overflow: hidden;
	height: 0;
}
.contenedor_gris
{
	background: #eee;
	border: 1px solid #ccc;
	padding: 1rem;
	margin-bottom: 1rem;
}
ul.tabs
{
	background-color: #EFEFEF;
}
.btn_default:hover
{
	background: #efefef;
	cursor:pointer;
}
.btn_default
{
	display: inline-block;
	vertical-align: top;
	background: #ddd;
	color: #444;
	border: 1px solid #ccc;
	font-size: 0.8rem;
	padding: 0.5rem 1rem;
	font-weight: 600;
	margin: 0.2rem 0 0.2rem 0;
}
.button.pulsado
{
	opacity: 0.8;
}

/* fin juego mapa*/

/*generales*/
#btn_nuevaactividad
{
	margin-top: 1em !important;
	
}
.ta_right
{text-align: right !important;
}
.lista_juegos-item
{
	padding: 0 !important;
	
	display: inline-block;
	vertical-align: top;
	    width: 20%;
	margin: 0 1%;
	overflow: hidden;
}
.lista_juegos-item figure
{
	margin: 0 !important;
	padding: 0 !important
}
.lista_juegos-item figcaption
{
	padding: 0  1em;
	font-weight: 600;
	text-align: center;
	    padding: 0.6em 1em;
	    color: #225fa4;
    font-size: 0.8em;
    text-align: left;
    line-height: 1.3em;
    padding-left: 0;
    	-webkit-transition: all .2s ease-out .3s;
    -moz-transition: all .2s ease-out .3s;
    -o-transition: all .2s ease-out .3s;
    transition: all .2s ease-out .3s;
}
.lista_juegos-item figure img, .lista_juegos-item
{
	-webkit-transition: all 0.5s ease-out .3s;
    -moz-transition: all .5s ease-out .3s;
    -o-transition: all .5s ease-out .3s;
    transition: all .5s ease-out .3s;
}
.lista_juegos-item:hover figure img
{
	transform: scale(1.05,1.05);
}
.lista_juegos-item:hover figcaption
{
	padding-left: 0.6em;
}
.lista_juegos-item:hover
{
	background-color: #f6f6f6;
}
.lista_juegos
{
	padding: 0;
	height: 0;
	overflow: auto;
	-webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
    background: #ddd;
}
.lista_juegos.abierto
{    
	padding: 2em;
	    height: 18em;
	    margin-top: 1em;
    

}
/*fin genreales*/

/*mapa previsualizacion*/
.prev-content-datos-puntos label
{
	font-size: 0.8rem!important;
	    text-shadow: 0px 0px 1px #fff;
	   color: #44631b !important;
}
.mt03m
{
	margin-top: 0.3em !important;
}
.prev-content-titulo div:last-of-type
{
	border: none !important;
}
.prev-content-titulo-otros
{
	/*background: rgba(0,0,0,0.15);*/
    border-right: 1px solid #7cb139;
    font-size: 0.8rem !important;
    padding: 2.2%;
    font-weight: 600;
    color: #ffec49;
    text-shadow: none !important;
    text-align: center;

}
.prev-content-datos-puntos
{
	    
	        line-height: 0.8em;
    color: #000 !important;
    font-size: 3em;
    font-weight: 600;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    border-radius: 6px;
    position: absolute;
        padding: 2.2% 1% !important;
    width: 15%;
        left: 2%;
    bottom: -55% !important;
        bottom: 5%;	


    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cecece+0,d6d6d6+0,e5e5e5+1,ffffff+100 */
background: #cecece; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%,#cecece 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#cecece 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#cecece 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#cecece 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#cecece 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#cececex',GradientType=0 ); /* IE6-9 */

}
.prev-imagen-fraccionado-puntos
{
	    
	line-height: 0.8em;
    color: #000 !important;
    font-size: 3em;
    font-weight: 600;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    border-radius: 6px;
    position: absolute;
        padding: 2.2% 1% !important;
    width: 10%;
    bottom: 18%;	


    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cecece+0,d6d6d6+0,e5e5e5+1,ffffff+100 */
background: #cecece; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%,#cecece 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#cecece 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#cecece 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#cecece 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#cecece 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#cececex',GradientType=0 ); /* IE6-9 */

}
.prev-imagen-fraccionado-puntos
{
	right: 2% !important;
}
.prev-imagen-fraccionado-letras
{
	width: 40px;
	position: relative;
    /*left: 150px;*/
    display: inline-block;
    bottom: 162px;
    border: 3px solid #ccc;
    text-align: center;
    font-family:fantasy;
    font-size: 30px;
    margin: 3px;
    background: #cecece; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%,#cecece 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#cecece 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#cecece 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#cecece 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#cecece 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#cececex',GradientType=0 ); /* IE6-9 */

}
.prev-imagen-fraccionado-letras-ejec
{
	width: 40px;
	position: relative;
    left: 2%;
    display: inline-block;
    /*bottom: 50px;*/
    z-index: 99;
    border: 3px solid #0D3644;
    text-align: center;
    font-family:fantasy;
    font-size: 30px;
    margin: 3px;
    background: #cecece;

}
.prev-imagen-fraccionado-textoayuda
{
	position: relative;
    /*left: 150px;*/
    display: inline-block;
    bottom: 8em;
    text-align: center;
    font-family: sans-serif;
    color: #DBEFA2;
    width: 42em;
}
.prev-imagen-fraccionado {
	background: #055069;
	position: relative;
	height: 135px;
}
.prev-content-datos {
	background: #618a2c;
	position: relative;
}
.prev-imagen-fraccionado-img {
    width: 135px;
    height: 135px;
    overflow: hidden;
    padding: 0;
    /*margin: 10px 10px 10px 0 !important;*/
    vertical-align: top;
    border: 5px solid #ccc;
    position: relative;
}
.btn_siguiente_juego:hover
{
	cursor: pointer;
}
.fc_black
{
	color: #000 !important;
}
.prev-content-datos div
{
	
	padding: 2%;
	color: #fff;
	z-index: 999 !important; 
}
.prev-content-titulo
{
	padding: 0;
	background: #7cb139;
	color: #fff;
	
	text-align: left;
	font-weight: 600;
	font-size: 1.5em;
	text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.prev-content-titulo-titulo
{
	
	padding: 1% 4%;

}
.prev-content
{

    background: #555;
    
    text-align: center;
    
    margin: 0 auto;
}
#modal_prev
{
	padding: 0 !important;
}
.prev-footer span
{
	-webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.prev-footer span:hover
{
	color: #7cb139;
	
    transform: translateY(1px);
    cursor: pointer;
}
.prev-footer span:first-of-type
{
	margin-right: 1em;

}
.prev-img
{
	margin: 0;
    width: auto;
    display: inline-block;
    position: relative;
    overflow: hidden;
     /*    width: 692px !important;
         height: 357px !important; */
}
.prev-content-img
{

}
.prev-footer
{
	background: #222;
	color: #89d02f;
    font-size: 3em;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
}
.prev-boton:hover
{
	cursor: pointer;

}

.prev-boton:hover
{
	transform:scale(1.1,1.1);
}
.prev-boton
{
	/*padding: 1%;*/
	width: 24px;
	height: 24px;
	border: 3px solid #ffc103;
    border-radius: 50%;
    padding: 3%;
    background: rgba(255,255,255,0.5);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    position: absolute;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
/*mapa*/
/*.prev-boton.correcto span
{
	font-size: 1.2em;
}*/
/*.prev-boton.correcto div:last-of-type
{
	width: 75px;
}*/
/*.prev-boton.correcto img
{
box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
}*/
.prev-boton.correcto
{
	background: transparent;
	width: 50px;
	border: none;
	box-shadow: none;
}
.border_roundered
{
    border-radius: 50% 0 0 50%;
	width: 25px !important;
}
.mapa_prev_final.show .content
{
	position: relative;
    top: 40%;
    /* width: 25%; */
    /* left: 40%; */
    font-size: 2em;
    font-weight: 800;
    color: #ffc103;
    text-shadow: 1px 1px 5px rgba;
    	
}
.mapa_prev_final.show
{
	background: rgba(0,0,0,0.8);
	z-index: 99;
	transform: translateY(0px);
}
.mapa_prev_final
{
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateY(-500px);
    -webkit-transition: all 0.5s ease-out .3s;
    -moz-transition: all .5s ease-out .3s;
    -o-transition: all .5s ease-out .3s;
    transition: all .5s ease-out .3s;

}
/*mapa previsualixacion*/

.administrador-paneljuegos-tabla td
{
	color: #555;
}
.administrador-paneljuegos-tabla th.tipo
{
	width: 13%;
}
.administrador-paneljuegos-tabla th.descripcion
{
	width: 40%;
}
.administrador-paneljuegos-tabla td.ver_actividad
{
	cursor: pointer;
	display: inline-block;
    padding: 3px 32px 4px 2rem;
    font-size: 13px;
    background-color: #DDD;
    color: #FFFFFF;
}
.administrador-paneljuegos-tabla
{
	width: 100%;
    margin-top: 1em;
}
.paneldetallejuego-header .botones
{
	position: absolute;
	bottom: 0;
	right: 1em;
}
.paneldetallejuego-header .titulo
{
	    padding-left: 0 !important;
}
.paneldetallejuego-header h1
{
	    font-size: 1.7em;
	    margin-top: 0 !important;
}
.paneldetallejuego-header
{
	margin-top: 1em !important;
    width: 100%;
    height: 76px;
}
.paneldetallejuego-op span
{
	font-weight: 600;
	margin-right: 0.3em;
	font-size: 1.1em !important;
}
.paneldetallejuego-op-item 
{
	margin-right: 1em;
	font-size: 600;
}
.paneldetallejuego-op
{
	padding: 1em 0;
    font-size: 0.9em;
    font-weight: 600;
}
.paneldetallejuego-panel
{
	color: #555;
    font-size: 0.9em;
	border: 1px solid #ccc;
    padding: 1em !important;
    width: 100% !important;
    margin: 0 !important;
    margin-top: 1em !important;
}
.administrador-panelgruposysesiones
{
	margin-top: 1em !important;
}.administrador-paneldetalle_grupo
{
	margin-top: 1em !important;
}
.side_nuevojuego-item a
{
	color: #0397aa;
	font-size: 0.85em;
	margin: 0 auto;
	/*font-weight: 600;*/
}
.side_nuevojuego-item img
{
	width: 65%;
    display: block;
    margin: 0 auto;
}
.side_nuevojuego-item:hover
{
	/*background: rgba(255,255,255,0.1);*/
	background: #cecece;	
}
.side_nuevojuego-item.active
{
	/*background: rgba(255,255,255,0.1);*/
	background: rgba(0, 140, 186, 0.35);
}
.side_nuevojuego-item
{
	list-style: none;
	text-align: center;
	    padding-bottom: 1.5em;
	    padding: 1em;
}
.side_nuevojuego
{
	/*background: #222;*/
	background: #dddddd;
    width: 100%;
    
    margin: 0;
    
	

}
.nuevojuego-panel
{
	width: 85%;
	display: inline-block;
	vertical-align: top;
}
.nuevojuego-side
{
	display: inline-block;
	vertical-align: top;
	width: 12%;
	margin-right: 1%;
	padding-top: 3rem;
}
.lista_grupos
{
	margin: 0;
}
.lista_grupos-item.active
{
	background:  #ccc;
	color: #037ba3;	
}
#abeja-contenedorimg
{
	padding: 1em !important;
}
.abeja-galeria .label
{
	margin-bottom: 1rem !important;
}
.abeja-galeria
{
	margin-top: 0.5rem;
}
.abeja-galeria-todos figure:last-of-type
{
	/*margin-right: 0 !important;*/

}
.abeja-galeria-todos figure:first-of-type
{
	margin-left: 0px !important;
}
.abeja-galeria-todos-item:hover
{
	border-color: #ffcc00;
}

.abeja-galeria-todos-item  article span:hover
{
	cursor: pointer;
	color: #555;
}
.abeja-galeria-todos-item:hover article
{
	 
    height: 100%;
    



}
.abeja-galeria-todos-item figcaption{
	position: absolute;
	bottom: 0;
}
.abeja-galeria-todos-item .sombra
{
	text-align: center;
	height: 0;
    overflow: hidden;
	position: absolute;
    z-index: 99;
    bottom: 0%;
    background: rgba(255,255,255,0.5);
    width: 100%;
    padding-top: 20%;
    color: #333;
    font-size: 2.5rem;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}
.abeja_img
{
	width: 110px;
	/*height: 100px;*/
	overflow: hidden;
	/*padding: 0;*/
	/*margin: 10px 10px 10px 0 !important;*/
	display: inline-block;
	vertical-align: top;
	/*border: 5px solid #ccc;*/
	/*position: relative;*/
}.abeja-galeria-todos-item
{
	width: 100px;
	height: 100px;
	overflow: hidden;
	padding: 0;
	margin: 10px 10px 10px 0 !important;
	display: inline-block;
	vertical-align: top;
	border: 5px solid #ccc;
	position: relative;
}
.abeja-form_imgs
{

	position: relative;
	margin-bottom: 0.5em;
}
.file_wcss .content
{
	position: absolute;
	top: -18px;
	/*left: 1em;*/
}

.file_wcss .content:hover
{
	cursor: pointer;	
}
.file_wcss
{
	position: absolute;
	    height: 2.5em;
    width: 10em;
    right: 0em;
}
.file_wcss input
{
	display: block !important;
    width: 157px !important;
    height: 57px !important;
    opacity: 0 !important;
    overflow: hidden !important;
}
.abeja-galeria-todos.reducido
{
	width: 49%;
	border-right: 1px solid #ffcc00;
}
.abeja-galeria-correctos.ampliado
{
	width: 46%;
	padding: 0 1%;
}
.abeja-galeria-todos
{
	width: 100%;
	padding-right: 0.5rem;
}
.abeja-galeria-correctos
{
	width: 0%;
	overflow: hidden;
}
.abeja-galeria-todos,
.abeja-galeria-correctos
{
	display: inline-block;
	vertical-align: top;
	-webkit-transition: all 0.5s ease-out .3s;
    -moz-transition: all .5s ease-out .3s;
    -o-transition: all .5s ease-out .3s;
    transition: all .5s ease-out .3s;
}
.abeja-galeria-itemdes
{
	background: #f4f4f4 !important;
    font-size: 0.8em !important;
    border: none !important;
    color: #666 !important;
}
.panel_inicio_grupos-grupo-link	
{
	font-size: 0.8em;
    display: block;
    padding: 4px 14px;
}
.panel_inicio_grupos-grupo
{
	background: #f1f1f1;
	border: 1px solid #e0e0e0;
	padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
    width: 100% !important;

}
.panel_inicio_grupos-grupo-titulo
{
	font-size: 0.9em;
	font-weight: 600;
	line-height: 1.2;

}
.panel_inicio_resultados
{
	padding: 1em 3em;
	background: #f1f1f1;
	border: 1px solid #e0e0e0;
    position: relative;
    width: 100% !important;
}
.panel_inicio_resultados-titulo
{
	font-size: 0.9em;
	font-weight: 600;
	line-height: 1.2;

	padding: 0.25rem 0.5rem 0.25rem;
	display: inline-block;
    background-color: #008CBA;
    color: #FFFFFF;
}

/*ejectuar sesion*/
.ejecutar_sesion
{
	background-color: #222222;
	padding: 0 !important,
}
.ejecutar_sesion-columna
{
	display: block;
	width: 100%;
	padding: 0 !important;
}
.ejecutar_sesion-lista ul li span.puntaje
{
	color: #89d02e;
	position: absolute;
	right: 0.6em;
	top: 0.6em;

}
.ejecutar_sesion-lista ul li:hover
{
	background: rgba(255,255,255,0.05);
	cursor: pointer;
}
.ejecutar_sesion-lista ul li
{
	border-bottom: 1px solid #2b2b2b;
    list-style: none;
    
    /* font-weight: 600; */
    font-size: 0.9em;
    position: relative;
    color: #ffffff;
    padding: 0.6em;
    
    padding-right: 1em;
}
.ejecutar_sesion-lista ul
{
	padding: 0;
	margin: 0;
}
.ejecutar_sesion-lista-reloj
{
	font-size: 44px;
    font-family: serif;
    color: #fbcf1f;
    text-align: center;
    padding: 15px;
	/*font-size: 2.3em;
	color: #fbcf1f;
	
	text-align: center;*/
}

.ejecutar_sesion-lista
{
	display: inline-block;
	vertical-align: top;
	width: 17%;
	padding: .5em;
	padding: 0 !important;
}
.ejecutar_sesion-contenedor-desc
{    font-family: 'Indie Flower', cursive;
    color: #fff;
    font-size: 1.6em;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
    text-align: center;
    margin-bottom: 1em;
}
.ejecutar_sesion-contenedor-titulo
{
	    text-align: center;
    font-size: 1.5em;
    color: #3b5816;
    margin-bottom: 0.7em;

}
.ejecutar_sesion-contenedor-enviado
{
	text-align: center;
    color: #3b5816;
    margin-bottom: 0.7em;
    padding-top: 3em;
    font-size: 3em;
    font-family: cursive;
}
.ejecutar_sesion-contenedor-enviado-desc
{   
	font-family: 'Indie Flower', cursive;
    color: #fff,
    text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
    text-align: center;
    margin-bottom: 1em;
    font-size: 3em;
    font-weight: 600;
}
.ejecutar_sesion-contenedor-participantes div.titulo
{
	font-size: 1.5em;
    color: rgba(0,0,0,0.7);
}
.ejecutar_sesion-contenedor-participantes
{
	 width: 100%;
    text-align: left;
    margin-top: 5em;

    font-family: 'Indie Flower', cursive;
}
.ejecutar_sesion-contenedor iframe
{
	width: 100% !important;
	height: 100% !important;
}
.juego-volver
{
	    right: 2rem;
    position: absolute;
    color: #fff;
    line-height: 2.5rem;
}
.juego-volver:hover{
	color: #eee;
}
.ejecutar_sesion-contenedor
{
	text-align: center;
	display: inline-block;
	vertical-align: top;
	max-width: 1090px;
	width: 83%;
	background-color: #b8ee74;
	height: 600px;
	
}
.ejecutar_sesion-footer
{
	width: 100%;
}
.ejecutar_sesion-chat textarea
{
	background:  #fff;
	width: 80%;
	height: 5em;
	display: inline-block;
	vertical-align: top;
}
.ejecutar_sesion-chat div.titulo
{
	color: #fbcf1f;
	font-size: 1.2em;

}
.ejecutar_sesion-chat
{
	display: inline-block;
	vertical-align: top;
	width: 75%;
}
.ejecutar_sesion-flechas
{
	background: #222;
    color: #89d02f;
    font-size: 3em;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
    display: inline-block;
    vertical-align: top;
    width: 21%
}
.informacion_juego
{
	    /* background: #083D50; */
    width: 273px;
    position: absolute;
    /* z-index: 99; */
    right: 50em;
    height: 100%;
}
.prueba_ejecucion_titulo
{
	padding: 10px;
    text-align: center;
    font-family: cursive;
    font-size: 22px;
    background: #435F8A;
    color: #fff;
    background: #636B80;
}
.prueba_ejecucion_instruccion
{
	margin-top: 2em;
    font-size: 18px;
    color: #fff;
    font-family: cursive;
}
.prueba_ejecucion_texto
{
    border: 1px solid #507DAD;
    width: 6em;
    background: #90ADC1;
    margin: 20px 0px 17px 73px;
    font-weight: 900;
    font-size: 22px;
    color: #fff;
}
.prueba_ejecucion_texto:hover
{
   background: rgb(109, 176, 222);
   cursor: pointer;
}
.puntos_conteo
{
	line-height: 0.8em;
    color: #000 !important;
    font-size: 3em;
    font-weight: 600;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    border-radius: 6px;
    padding: 6.2% 1% !important;
    width: 40%;
    margin: 16px 83px;
    background: #cecece;
}
.panel_inicio-participantes
{
	    height: 85px;
    overflow: hidden;
}
.panelinicio-grupos .panel_inicio_grupos-grupo
{
	    margin: 1rem !important;
    /* display: inline-block; */
    width: 60% !important;
}
.panelinicio-sesiones .panel_inicio_juegos_item
{
	width: 50% !important;
}
.panelinicio-grupos-item-desc ul
{
     list-style: none;
    margin-left: 1rem !important;
    font-size: 0.9rem;
    color: #555;
}
.div_borde
{
	border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0.5rem;
    background: #fff;
}

.modal_label
{
	position: absolute;
    top: 0;
    right: 0.5rem;
    color: #888;
    font-size: 0.8rem;
}

.ejecutar_sesion-lista-juegos
{
	font-size: 44px;
    font-family: serif;
    color: #fbcf1f;
    text-align: center;
    padding: 15px;
}
span.puntaje
{
	color: #fbcf1f;
}

/*fin*/