@import url(http://fonts.googleapis.com/css?family=Raleway:800,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);
@keyframes loadingBar{0%{background-position:0px 0}
100%{background-position:350px 0}}@-moz-keyframes loadingBar{0%{background-position:0px 0}100%{background-position:350px 0}}@-webkit-keyframes loadingBar{0%{background-position:0px 0}100%{background-position:350px 0}}

body,html
{
	margin: 0;
	padding:0;
}
body:hover .engranaje
{
    transform: rotate(360deg);
}

body
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #fff;
    background-color: #1570a5;
    padding: 1% 4% 1% 2%;
    width: 100%;
    text-align: center;
    position: relative;
}
.engranaje
{
    position: absolute;
    opacity: 0.4;
    top: 76%;
    left: 27%;
    width: 10%;
      -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.error
{
    color: red;
    font-weight: 600;
}
.logo
{
	margin-top: 5%;
}
.contenedor hr
{
	    height: 1px;
    margin: 20px 0;
    border: 0;
    color: #eeeeee;
    background-color: #eeeeee;
}
p
{
	color: #777;
	
}

.contenedor
{
    position: relative;
    z-index: 99;
	/*background: rgba(0,0,0,0.3);*/
	background: white;
	margin: 0 auto;
	text-align: left;
	width: 40%;
	padding: 1%;
	    background: white;
    margin: 0 auto;
    text-align: left;
    width: 30%;
    padding: 3% 2%;
	margin-top: 1% ;
}
.login input {
    border: 0px !important;
    color: #666;
    font-size: 15px;
    margin: 0;
    outline: 0px !important;
    width: 75%;
}
.ico_usuario {
    background-position-y: 2px !important;
}

.ico_login {
    background: url('../iconos/sprite_login.jpg');
    width: 20px;
    height: 20px;
    background-position-y: 4px;
    display: inline-block;
}	
.ico_pass {
    background-position-y: -17px;
}
.input_form
{
	    border: 1px solid #e5e5e5;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    
    margin: 10px auto;
    border-left: 2px solid #86b83d;
    padding: 1%;
}
.boton_entrar:hover
{
    background: #58982a;
    cursor: pointer;
}
.boton_entrar
{
	padding: 2% 8%;
    background: #67ac35;
    color: #fff !important;
    font-size: 1.2em;
    width: 100% !important;
}

