@import url(http://fonts.googleapis.com/css?family=Raleway:800,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400);
@keyframes loadingBar{0%{background-position:0px 0}
100%{background-position:350px 0}}@-moz-keyframes loadingBar{0%{background-position:0px 0}100%{background-position:350px 0}}@-webkit-keyframes loadingBar{0%{background-position:0px 0}100%{background-position:350px 0}}

body,html
{
	margin: 0;
	padding:0;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
section.cargar_pagina
{
	display: block;
	position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 99;
	cursor: default;
	overflow: hidden;
	background: #18152d;
	background: -moz-radial-gradient(center, ellipse cover, #18152d 0%, #0c0a16 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #18152d), color-stop(100%, #0c0a16));
	background: -webkit-radial-gradient(center, ellipse cover, #18152d 0%, #0c0a16 100%);
	background: -o-radial-gradient(center, ellipse cover, #18152d 0%, #0c0a16 100%);
	background: -ms-radial-gradient(center, ellipse cover, #18152d 0%, #0c0a16 100%);
	background: radial-gradient(ellipse at center, #18152d 0%,#0c0a16 100%);
	overflow: hidden;
    -webkit-transition: all 500ms ease-out 1s;
    -moz-transition: all 500ms ease-out 1s;
    -o-transition: all 500ms ease-out 1s;
    transition: all 500ms ease-out 1s;
}
.cargar_c
{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 450px;
	height: auto;
	margin-top: -80px;
	margin-left: -225px;
	 -webkit-transition: all 500ms ease-out 1s;
    -moz-transition: all 500ms ease-out 1s;
    -o-transition: all 500ms ease-out 1s;
    transition: all 500ms ease-out 1s;
}

.cargar_pagina .texto
{
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 45px;
	padding: 10px 0;
	letter-spacing: -3px;
}
.cargar_pagina b
{
	font-weight: 800;
}
.upper
{
	text-transform: uppercase !important;
}
.rale
{
	font-family: 'Raleway', sans-serif;
}
.loading
{

	display: block;
width: 350px;
height: 10px;
background: url(../pukllay/img/loading.png) repeat;
margin-left: auto;
margin-right: auto;
animation: loadingBar 2s infinite linear;
-moz-animation: loadingBar 2s infinite linear;
-webkit-animation: loadingBar 2s infinite linear;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
.color_b
{
	color: #fff;
}
.top_60
{

	top: 70% !important;
}
.oculto_arriba
{
	/*-webkit-transform: matrix(1,0,0,1,-270,0);
-moz-transform: matrix(1,0,0,1,-270,0);
-ms-transform: matrix(1,0,0,1,-270,0);
-o-transform: matrix(1,0,0,1,-270,0);*/
transform: matrix(1,0,0,1,0,-900);
}
.parrafo
{
	background: rgba(0,0,0,0.8);
	padding: 1.5%;
	text-align: left;
	color: #fff;
	position: absolute;
}
#parrafo1
{
	top: 35%;
	left: 0;
	width: 35%;

}
#parrafo2
{
	top: 60%;
	left:; 0;
	width: 45%
}

section.pagina
{
	display: block;
	position: relative;	
	overflow: hidden;
	background: #18152d
	overflow: hidden;
    -webkit-transition: all 500ms ease-out 1s;
    -moz-transition: all 500ms ease-out 1s;
    -o-transition: all 500ms ease-out 1s;
    transition: all 500ms ease-out 1s;
    height: 645px !important;

}
#pagina3
{

	/*background: -moz-radial-gradient(center, ellipse cover, #f9c03d 0%, #b38428 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #18152d), color-stop(100%, #0c0a16));
	background: -webkit-radial-gradient(center, ellipse cover, #f9c03d 0%, #b38428 100%);
	background: -o-radial-gradient(center, ellipse cover, #f9c03d 0%, #b38428 100%);
	background: -ms-radial-gradient(center, ellipse cover, #f9c03d 0%, #b38428 100%);
	background: radial-gradient(ellipse at center, #f9c03d 0%,#b38428 100%);*/
	background: url(../pukllay/img/fondos/verde.jpg);
}
#pagina1
{
	background: url(../pukllay/img/ninos.jpg);
	background-size: cover;
	
	overflow: hidden;
}
#pagina2
{
	background: url(../pukllay/img/fondos/papel.jpg);
	

}
#cuadros
{
	position: absolute;
	top: 15%;
	right: 5%;
	text-align: center;
	font-size: 0px;
	letter-spacing: 0;
	width: 43%;
}

#cuadros div
{
	padding: 1%;
	color: #fff;
	font-size: 14px;
	/*background: rgba(0,0,0,0.85);*/
	border: 2px solid #fff;
	text-shadow:1px 1px 4px rgba(0,0,0,0.5);
	box-shadow:1px 1px 4px rgba(0,0,0,0.5);

}
#cuadros div.dib
{
	
	width: 46.8%;
margin: 0.2%;
}
#cuadros div.db{
	margin-top: 4px;
	/*width: 100%;*/
}
.db{
	display: block;
}
.dib{
	display: inline-block;
	vertical-align: top;
}
.ta_center
{
	text-align: center;	
}
.label_aprende_jugando
{
	color:#fff;
	font-size: 60px;
	position: absolute;
	top: 10%;
	left: 10%;
	font-weight: 300;
	font-family: 'Raleway', sans-serif;

}
.compu
{
	width: 35%;
	right: 0;
	top: 0;
	position: absolute;
}
.label_aprende_jugando .jugando
{
	font-weight: 800;
	font-size: 70px;
	border-top: 2px solid #fff;
	letter-spacing: -5px;
}
#pagina1 h1
{
	position: absolute;
	top: 50%;
	left: 35%;

	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	color: #fff;
	text-shadow: 3px 3px 10px #000;
	font-size: 95px;
	font-weight: 300;
	letter-spacing: -3px;
}
#pagina1 b
{
	font-weight: 800;
}
.img_pizarra
{
position: absolute;
bottom: 0;
left: 5%;
width: 43%;
-webkit-transition: all 500ms ease-out 1s;
    -moz-transition: all 500ms ease-out 1s;
    -o-transition: all 500ms ease-out 1s;
    transition: all 500ms ease-out 1s;

}
.img_pizarra:hover
{

	transform:scale(1.05);
	bottom: 2%;
}
.section_login
{
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	z-index: 100;
	-webkit-transition: all 500ms ease-out 1s;
    -moz-transition: all 500ms ease-out 1s;
    -o-transition: all 500ms ease-out 1s;
    transition: all 500ms ease-out 1s;
    width: 100%;
    height: 100%;
    color: #fff;
    padding: 6% 8%;
}
.form_login
{
	text-align: left;
}
.form_login input
{
	display: block;
}

.section_login input[type="text"],.section_login input[type="password"]
{
	background: transparent;
border: none;
border: 2px solid #fff;
font-size: 16px;
color: #fff;
padding: 0.5% 1%;
-webkit-transition: all 100ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 100ms ease-out;
}

.section_login input[type="text"]:focus ,.section_login input[type="password"]:focus
{
	transform: scale(1.15,1);
	transform: translateX(10);
	border-color:#fff;
}
.section_login input[type="password"]:active
{
	border: none !important;
}
.section_login h1
{
		
font-family: 'Raleway',sans-serif;
font-size: 55px;
font-weight: 300;
}
.section_login .control
{
	margin: 0.5% 0;
}
.section_login b
{
	font-weight: 800;
}
.section_login input[type="submit"]
{
	background: #900;
display: inline-block;
padding: 0.5% 2%;
margin: 1% 0%;
border: none;
color: #fff;
}
.boton_entrar:active
{
	background: #f00;
}
#boton_login
{
	position: fixed;
	z-index: 101;
	top: 3%;
	left:3%;

	width: 40px;
	
	border: 3px solid #fff;
	text-align: center;
	padding-bottom: 7px;


}
#boton_login:hover
{
	cursor: pointer;
}
.boton_x .raya
{
	transform:rotate(45deg);
}
.boton_x .raya.final
{
	transform:rotate(-45deg) !important;
	padding: 0  !important;
    margin: 0 !important;
    position: relative !important;
    bottom: 8px !important;
    left: 3px !important;
}
#boton_login .raya
{
	width: 60%;
	border-bottom: 3px solid #fff;
	height: 7px;
	margin: 0 auto;
	-webkit-transition: all 100ms ease-out;
    -moz-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 100ms ease-out;
}
#boton_login:hover .raya
{
	width: 75% !important;
}
